<div class="container-fluid">
      <div #top></div>
      <div class="mt-5 mb-5 row">
            <div class="col-sm"><a *ngIf="images.length > 0" [href]="images[0].href" target="_blank"> <img
                              class="img-fluid" [src]="images[0].href" /></a></div>
            <div class="col-sm"><a *ngIf="images.length > 1" [href]="images[1].href" target="_blank"> <img
                              class="img-fluid" [src]="images[1].href" /></a></div>
            <div class="col-sm"><a *ngIf="images.length > 2" [href]="images[2].href" target="_blank"> <img
                              class="img-fluid" [src]="images[2].href" /></a></div>
      </div>

      <div class="mb-5 row">
            <div class="col-sm"><a *ngIf="images.length > 3" [href]="images[3].href" target="_blank"> <img
                              class="img-fluid" [src]="images[3].href" /></a></div>
            <div class="col-sm"><a *ngIf="images.length > 4" [href]="images[4].href" target="_blank"> <img
                              class="img-fluid" [src]="images[4].href" /></a></div>
            <div class="col-sm"><a *ngIf="images.length > 5" [href]="images[5].href" target="_blank"> <img
                              class="img-fluid" [src]="images[5].href" /></a></div>
      </div>

      <div class="mb-3 row">
            <div class="col-sm"><a *ngIf="images.length > 6" [href]="images[6].href" target="_blank"> <img
                              class="img-fluid" [src]="images[6].href" /></a></div>
            <div class="col-sm"><a *ngIf="images.length > 7" [href]="images[7].href" target="_blank"> <img
                              class="img-fluid" [src]="images[7].href" /></a></div>
            <div class="col-sm"><a *ngIf="images.length > 8" [href]="images[8].href" target="_blank"> <img
                              class="img-fluid" [src]="images[8].href" /></a></div>
      </div>

      <button class="btn btn-primary m-2" (click)="next()">Next Page</button>
      <button class="btn btn-primary m-2" (click)="prev()">Previous Page</button>
      <p class="bold">Page: {{page}}</p>
</div>