<div class="text-center bg-secondary">
    <div style=" background: gray;">
        <cdk-virtual-scroll-viewport #virtualScroll [itemSize]="600" [maxBufferPx]="2500">
            <div *cdkVirtualFor="let img of images; templateCacheSize:0">
                <div class="bg-white rounded p-2 m-5 imgdiv">
                    <a [href]="img.href" target="_blank">
                        <img class="rounded" [src]="img.href" />
                    </a>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
        <div class="text-right btndiv">
            <button class="btn btn-sm btn-dark button m-3" (click)="prevPage()">previous page</button>
            <button class="btn btn-sm btn-dark button m-3" (click)="nextPage()">next page</button>
        </div>
    </div>
</div>