cdk-virtual-scroll-viewport {
  height: 100vh; /* fixed viewport height*/
  width: 85vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* list-style: none; */
}

.imgdiv {
  height: 700px;
  margin: 10px;
  padding: 10px;
  background: whitesmoke;
}

img {
  max-width: 98%;
  height: auto;
  max-height: 98%;
}
