cdk-virtual-scroll-viewport {
  height: 100vh; /* fixed viewport height*/
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li {
  height: 700px;
  margin: 10px;
  padding: 10px;
  background: whitesmoke;
}

img {
  height: 100%;
}
