cdk-virtual-scroll-viewport {
  height: 90vh; /* fixed viewport height */
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btndiv {
  height: 10vh; /* fixed viewport height */
}

::-webkit-scrollbar {
  width: 0px;
}

/* @media (max-width: 549) {
  .imgdiv {
    height: 300px;
  }
}

@media (min-width: 550) {
  .imgdiv {
    height: 700px;
  }
} */

img {
  max-width: 100%;
  height: auto;
  /* max-height: 80%; */
}
