<div class="text-center bg-secondary">
    <div style=" background: gray;">
        <cdk-virtual-scroll-viewport #virtualScroll [itemSize]="300" [maxBufferPx]="1200">
            <div #imgContainers class="bg-white rounded p-2 m-5" *cdkVirtualFor="let img of images;">
                <a [href]="img.href" target="_blank">
                    <img class="img-fluid rounded" [src]="img.href" />
                </a>
            </div>
        </cdk-virtual-scroll-viewport>
        <div class="text-right btndiv">
            <button class="btn btn-sm btn-dark button m-3" (click)="prevPage()">previous page</button>
            <button class="btn btn-sm btn-dark button m-3" (click)="nextPage()">next page</button>
        </div>
    </div>
</div>